.category-section {
    max-width: 1850px;
    margin: 60px auto;
}

.category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.category-title{
    color: var(--text-main);
    font-size: 2rem;
    font-family: 'Georgia', serif;
    font-weight: 500;
}

.view-all{
    color: var(--contrast);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

.view-all:hover{
    filter: brightness(1.2);
    text-decoration: underline;
}

.category-grid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
}

.category-card{
    background-color: var(--bg-card);
    border: 1px solid var(--border);
    border-radius: 16px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s ease;
}

.category-card:hover {
    transform: translateY(-8px);
    border-color: var(--contrast);
}

.category-icon{
    font-size: 3rem;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.category-card:hover .category-icon{
    transform: scale(1.1);
}

.category-name{
    color: var(--text-main);
    font-size: 1.2rem;
    margin-bottom: 8px;
    font-weight: 500;
}

.category-count{
    color: var(--text-muted);
    font-size: 0.9rem;
    opacity: 0.8;
}

.category-loading {
    color: var(--text-muted);
    text-align: center;
    padding: 50px;
    font-style: italic;
}