.navbar{
    background-color: var(--bg-card);
    border-bottom: 1px solid var(--border);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

*{/*contém logo, barra de busca e botões de navegação*/}
.navbar-container{
display: flex;
align-items: center;
gap: 40px;
flex: 1;
}